machine:
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        dhcp: true
        vip:
          ip: ${node_vip}
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}

cluster:
  allowSchedulingOnControlPlanes: false
  apiServer:
    admissionControl:
      - name: PodSecurity
        configuration:
          apiVersion: pod-security.admission.config.k8s.io/v1alpha1
          kind: PodSecurityConfiguration
          defaults:
            enforce: baseline
            enforce-version: latest
            warn: restricted
            warn-version: latest
            audit: restricted
            audit-version: latest
          exemptions:
            namespaces:
              - kube-system
              - cilium-system
            runtimeClasses: []
            usernames: []
  network:
    cni:
      name: none
  proxy:
    disabled: true
  inlineManifests:
  - name: cilium-values
    contents: |
      ---
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: cilium-values
        namespace: kube-system
      data:
        values.yaml: |-
          ${indent(10, cilium_values)}
  - name: cilium-bootstrap
    contents: |
      ${indent(6, cilium_install)}
