apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: default
  labels:
    app.kubernetes.io/instance: mealie
    app.kubernetes.io/name: mealie
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: mealie
      app.kubernetes.io/instance: mealie
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mealie
        app.kubernetes.io/instance: mealie
    spec:
      serviceAccountName: default
      automountServiceAccountToken: true
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: mealie-mealie
          image: "hkotel/mealie:v3.8.0"
          imagePullPolicy: IfNotPresent
          env:
            - name: API_URL
              value: http://localhost:9000
            - name: TZ
              value: Europe/Amsterdam
          ports:
            - containerPort: 9000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          volumeMounts:
            - name: api-data
              mountPath: /app/data/
      volumes:
        - name: api-data
          persistentVolumeClaim:
            claimName: mealie-api-data
