apiVersion: apps/v1
kind: Deployment
metadata:
  name: cert-practice-frontend
  namespace: default
  labels:
    app.kubernetes.io/instance: cert-practice
    app.kubernetes.io/name: cert-practice
    app.kubernetes.io/component: frontend
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: cert-practice
      app.kubernetes.io/instance: cert-practice
      app.kubernetes.io/component: frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cert-practice
        app.kubernetes.io/instance: cert-practice
        app.kubernetes.io/component: frontend
    spec:
      serviceAccountName: default
      automountServiceAccountToken: true
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: frontend
          image: "ghcr.io/arjansiemons/cert-practice-frontend:1.0.4"
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: Europe/Amsterdam
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 10
